.dashboard_wrapper {
    /* border:solid yellow; */
    padding-left:11px;
    padding-right:11px;
    margin-top:1rem;
}
.dashboard {
    border:solid red;
    display:flex;
    flex-direction:column;
    justify-content: center;
    max-width: 100%;
    margin-top:2%;
    background-color:white;
    border-radius:5px;
    padding:0;
}
.tutorial_tag {
    /* border: solid black; */
    position:absolute;
    margin:0;
    padding:0;
    max-width: 50%;
    left:4px;
    /* top:150px; */
}
.post {
    /* border:solid green; */
    margin-top:5rem;
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.post_wrapper {
    /* border:solid pink; */
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.post_wrapper a {
    /* border:solid blue; */
    margin-top:1rem;
    display:flex;
    justify-content:center;
}
.title_card {
    /* border:solid orange; */
    margin-top:-1.5rem;
    padding:0;
    border-radius: 1rem;
    margin-left:2rem;
    margin-right:2rem;
    background-color: rgba(255,255,255,0.9);
    box-shadow:3px 4px 7px rgba(0,0,0,0.3);
    margin-bottom:3rem;
}
.post_wrapper h1 {
    /* border:solid cyan; */
    margin:0.5rem;
    border-radius:10px;
    text-align:center;
}
.title_card a {
    margin:0;
    padding:0;
    text-decoration:none;
    color:black;
}
.underconstruction {
    max-width: 90%;
    border-radius: 10px;
}
.title_card .pin {
    position:absolute;
    left:35px;
    -webkit-filter: drop-shadow(-6px 10px 5px rgba(0,0,0));
}

@media screen and (min-width:768px) {
    .dashboard_wrapper {
        /* border:solid red; */
        margin:0;
        padding-top:2rem;
        margin: 0 9rem 0 9rem;
    }
    .title_card .pin {
        left:200px;
    }
    .tutorial_tag {
        left:164px;
    }
    .navbar_menu_icon {
        display:none;
    }
    .navbar .navigations {
        /* border:solid pink; */
        display:flex;
        justify-content: space-evenly;
        margin-top:0;
        margin-bottom:2px;
    }
    .navigations li{
        /* border:solid blue; */
        list-style:none;
    }
     .navigations li a{
        /* border: solid green;        */
        text-decoration:none;
        color:rgba(255, 255, 255, 1);
        font-size: 2vw;
        font-weight:bold;
        padding:6px;
    }
    .dashboard {
        /* border:solid yellow; */
        margin: 1rem 1rem 0 1rem;
    }
}