body {
    background:rgb(60, 183, 139);
}

.logo {
    background-color:rgba(234, 255, 189, 0.36);
    display:inline-block;
    text-decoration:none;
    border-radius: 2px;
    padding:0.5rem;
}

.title {
    color:rgba(255,255, 255);
    display:inline-block;
    background-color:rgba(234, 255, 189, 0.36);
    border-radius: 2px;
    padding:1rem;
    margin:0;
}
h1, h2 {
    color:rgba(255,255, 255);
}
